<div id="wrapper" ng-controller="changePasswordController">

    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h1 class="page-header">
                        Change Password
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                    <div class="passwordBack">
                        <form role="form" name="passwordForm" novalidate>
                            <div class="form-group">
                                <label>Old password</label>
                                <input type="password" class="form-control" id="oldPassword" placeholder="Enter old password">
                            </div>
                            <div class="form-group">
                                <label>New password</label>
                                <input type="password" name="newPassword" ng-model="newPassword" ng-minlength="6" class="form-control" id="newPassword" placeholder="Enter new password" required>
                                <div class="warning ng-hide" ng-show="passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid">
                                    <div ng-show="passwordForm.newPassword.$error.minlength">* the length should be over 6 characters</div>
                                    <div ng-show="passwordForm.newPassword.$error.required">* can not be null</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Please enter your password again</label>
                                <input type="password" ng-model="reNewPassword" name="reNewPassword" class="form-control" id="reNewPassword" placeholder="Confirm password" required>
                                <div class="warning ng-hide" ng-show="passwordForm.newPassword.$valid">
                                    <div ng-show="reNewPassword!=newPassword">* inconsistent password entered twice</div>
                                    <div ng-show="passwordForm.reNewPassword.$error.required">* can not be null</div>
                                </div>
                            </div>

                        </form>
                        <button class="btn btn-primary" ng-click="changePassword()">Done</button>
                    </div>

                </div>
            </div>

        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
</div>