
<div id="wrapper" ng-controller="indexController">
    <!--内容content-->
    <div id="page-wrapper">
        <div id="page-inner">
            <!-- row  -->
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h1 class="page-header" style="padding-bottom: 0px;">
                        <div style="width: 22%;display: inline-block;">
                            <div class="select">
                                <div class="input_in" ng-click="arrowShow()">
                                    <input type="text" ng-model="organizationName" id="organizationName" readonly="readonly"/>
                                </div>
                                <div class="city hide">
                                    <li ng-repeat="org in orgName track by $index" ng-class="{orgSelect:$index == orgIndex}" ng-click="orgShow(org)" ng-mouseover="fadeOrg($index)" ng-mouseleave="reOrg()">
                                        {{org.name}}
                                    </li>
                                </div>
                            </div>
                        </div>
                        <a class="rightButton" ng-click="jumpCreateRepo()" href="#createRepo"><span class="ff">Create Repository <i class="fa fa-plus"></i></span></a>
                    </h1>
                </div>
            </div>
            <!-- row  -->
            <div class="row ng-hide" ng-show="!tipIndex">
                <div class="col-md-7 col-sm-11 col-xs-12">
                    <div class="bar">
                        <form class="input-group">
                            <input class="form-control" type="text" ng-model="searchInfo" placeholder="Type to filter repositories by name">
                            <span class="btn btn-info input-group-addon" ng-click="searchRepo()"><i class="fa fa-search"></i></span>
                        </form>
                    </div>
                </div>
            </div>
            <!--未搜索到指定内容显示部分-->
            <div class="row ng-hide" ng-show="tipIndex_search">
                <div class="col-md-7 col-sm-11 col-xs-12">
                    <div class="bar">
                        <form class="input-group">
                            <input class="form-control" type="text" ng-model="searchInfo" placeholder="Type to filter repositories by name">
                            <span class="btn btn-info input-group-addon" ng-click="searchRepo()"><i class="fa fa-search"></i></span>
                        </form>
                    </div>
                </div>
            </div>

            <!--flex代码-->
            <div class="row" ng-repeat="item in indexItem track by $index" ng-mouseover="fadeSiblings($index)" ng-mouseleave="reSiblings()" ng-click="DashboardJumpRopeDetail(item)">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="flex-container" ng-class="{divOver:$index==flexIndex}">
                        <div class="flex-item flex-item1">
                            <div class="flex-item11">
                                <img src="assets/img/avatarLeft.png">
                            </div>
                            <div>
                                <div class="flex-item12">{{item.namespace}}/{{item.name}}</div>
                                <div class="flex-item13">{{item.visibility}}</div>
                            </div>
                        </div>
                        <div class="flex-item flex-item2">
                            <div>{{item.star}}</div>
                            <div>STARS</div>
                        </div>
                        <div class="flex-item flex-item3">
                            <div>{{item.pull}}</div>
                            <div>PULL</div>
                        </div>
                        <div class="flex-item flex-item4">
                            <i class="fa fa-chevron-right fa-lg"></i>
                            <div>DETAILS</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--my-pagination page-option="option" class="ng-hide" ng-show="!tipIndex"></my-pagination-->
            <!--分页-->
            <tm-pagination class="ng-hide" ng-show="!tipIndex" conf="paginationConf"></tm-pagination>

            <!--select class="ng-hide" ng-show="!tipIndex" ng-options="item for item in data" ng-model="selectedData" ng-change="changeSize()"></select-->

            <footer class="ng-hide" ng-show="!tipIndex"><p ng-click="scrollWindow()">Has slipped to the bottom     &nbsp; &nbsp; &nbsp;<i class="fa fa-arrow-up"></i> Back to top</p></footer>

            <div class="ng-hide" ng-show="tipIndex && !tipIndex_search">
                <h3 style="color: #216880;margin-bottom: 20px">There are no any repository</h3>
                <h4>repository can have multiple Teams. Teams can have differing permissions.</h4>
                <h4>To create repository Click <a href="#createRepo"><img src="assets/img/repo-button.png" style="height: 30px;width: 120px;border-radius: 3px"></a> button </h4>
            </div>
            <!--未搜索到指定内容显示部分-->
            <div class="ng-hide" ng-show="tipIndex_search">
                <h3 style="color: #216880;margin-bottom: 20px">There are no any repositories match with <strong>{{searchInfo}}</strong> &nbsp;&nbsp;<i style="cursor: pointer" title="Back to home" ng-click="reloadIndex()" class="fa fa-mail-reply-all"></i></h3>
            </div>


        </div>
        <!-- /. PAGE inner  -->
    </div>
    <!-- /. PAGE wrapper  -->
</div>
<!-- /. wrapper  -->

